.text-wrapper
  .inner-wrapper
    .project-title
      %h1 Cardless
      %span December 2013 - Personal Project

.project-image
  .image-wrapper.no-border= image_tag('cardless/contacts_1.png')
.project-image
  .image-wrapper.no-border= image_tag('cardless/contact_profile_1.png')
.project-image
  .image-wrapper.no-border= image_tag('cardless/contact_profile_2.png')
.project-image
  .image-wrapper.no-border= image_tag('cardless/my_profile.png')
