:javascript
  analytics.page("Design boston project")

.hide
  #{ @path = '/#designboston' }

.text-wrapper
  .inner
    .project-title
      %h2 Design with Boston
      %span A Design Meetup - November 2011

    %p
      My first solo project at thoughtbot. I designed a simple landing page for
      collecting RSVPs to a design community event we hosted at the thoughtbot
      office in Boston MA.

.project-image
  .image-wrapper
    = image_tag('design_boston/design-with-boston.jpg')
