.hide
  #{ @path = '/#designboston' }

.text-wrapper
  .inner
    .project-title
      %h2 Design with Boston
      %span A Design Meetup - November 2011

.project-image
  .image-wrapper
    = image_tag('design_boston/design-with-boston.jpg')
