.text-wrapper
  .inner-wrapper
    .project-title
      %h1 Design with Boston
      %span November 2011 - thoughbot Event

.project-image
  .image-wrapper
    = image_tag('design_boston/design-with-boston.jpg')
