.text-wrapper
  .inner-wrapper
    .project-title
      %h1 edX
      %span May 2012 - Client Project

.project-image
  .image-wrapper= image_tag('edx/edx-home.jpg')
.project-image
  .image-wrapper= image_tag('edx/edx-login.jpg')
.project-image
  .image-wrapper= image_tag('edx/edx-courses.jpg')
.project-image
  .image-wrapper= image_tag('edx/edx-course.jpg')
