.text-wrapper
  .inner-wrapper
    .project-title
      %h1 Hound
      %span Winter 2015 - thoughtbot Product

.project-image
  .image-wrapper= image_tag('hound/home.jpg')
.project-image
  .image-wrapper= image_tag('hound/dashboard.jpg')
.project-image
  .image-wrapper= image_tag('hound/docs.jpg')
.project-image
  .image-wrapper= image_tag('hound/faq.jpg')
