.hide #{ @path = '/#respond-evaluation' }

.text-wrapper
  .inner
    .project-title
      %h2 How might we make it easier for upmarket customers to switch to Intercom Respond?
      %span Fall 2015

    %p How might we make it easier for upmarket customers to switch to Intercom Respond?

    %h6 Our research questions

    %p How do CS managers choose a new Help Desk product?
    %p What is it like for them to evaluate our product?
