.hide #{ @path = '/#intercom-educate' }

.text-wrapper
  .inner
    .project-title
      %h2 Product onboarding and activation
      %span Spring 2017

    %h6 The Challenge
    %p
      Our challenge was to improve the effectiveness of communication on our
      marketing site by starting with a redesign of the home page.

.project-image
  .inner
    .image-wrapper.no-border= image_tag('segment/prototypes.jpg')
