.hide
  #{ @path = '/#tenant' }

.text-wrapper
  .inner
    .project-title
      %h2 Tenant.io
      %span 4th Place, 2013 Rails Rumble

    %p
      A team, consisting of myself as the product designer and Britt Ballard,
      Scott Albertson and Greg Lazarev as developers competed in the 2013 Rails
      Rumble, a 48hr international competition with hundreds of participants.

    %p
      Over the duration of the 48hrs we designed and built an application that
      would enable roommates to simplify and automate rent splitting. By the end
      of the competition the application was fully functional, including the
      ability to transact real money.

.project-image
  .image-wrapper= image_tag('tenant/tenant_home.jpg')
.project-image
  .image-wrapper= image_tag('tenant/tenant_dashboard.jpg')
