.hide
  #{ @path = '/#tenant' }

.text-wrapper
  .inner
    .project-title
      %h2 Tenant.io
      %span 4th Place, 2013 Rails Rumble

.project-image
  .image-wrapper= image_tag('tenant/tenant_home.jpg')
.project-image
  .image-wrapper= image_tag('tenant/tenant_dashboard.jpg')
