<section class="header">
  <div class="header__title">
    <div class="header__title-top">
      <div class="header__avatar">
        <img
          src="{{ '/assets/images/avatar.JPG' | relative_url }}"
          alt="Galen Frechette"
          class="header__avatar-img"
        />
      </div>
      <h1 class="header__name">Galen</h1>
    </div>
    <h1 class="header__name">Frechette</h1>
  </div>
  <ul class="header__nav">
    <li>
      <a href="/" class="header__link"> Home </a>
    </li>
    <li>
      <a href="/about" class="header__link"> About </a>
    </li>
    <li>
      <a href="https://x.com/6al3n" target="_blank" class="header__link">
        @6al3n
      </a>
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/galenfrechette/"
        target="_blank"
        class="header__link"
        >LinkedIn</a
      >
    </li>
  </ul>
</section>
