// Main styles
body {
  // font-family: "Inter", Arial, sans-serif;
  // font-family: "Inter Tight", sans-serif;
  font-family: "Poppins", sans-serif;
  // font-family: "Libre Baskerville", serif;
  background-color: #ffffff;
  color: #000000;
  max-width: 600px;
  margin: 40px 0px;
  padding: 40px 100px;
}

h1,
h2,
h3 {
  // font-family: "Inter Tight", sans-serif;
  font-weight: 600;
}

p,
a {
  font-weight: 400;

  strong {
    font-weight: 600;
  }

  &.tag-line {
    font-family: "Reenie Beanie", cursive;
    font-size: 24px;
  }
}

a {
  background-color: antiquewhite;
  color: blueviolet;
  text-decoration: none;
  padding: 0px 4px;

  &:hover {
    text-decoration: underline;
  }
}

section {
  margin-bottom: 40px;
}

ul {
  padding-left: 0px;
  list-style: circle;

  li {
    margin-bottom: 16px;
  }
}

.header {
  &__title {
    margin-bottom: 16px;
    display: inline-block;

    &:hover {
      cursor: zoom-in;

      .header__avatar {
        border-color: blueviolet;
      }
    }
  }

  &__title-top {
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 2px;
    margin-bottom: -14px;
  }

  &__avatar {
    display: inline-block;
    border: 2px solid black;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    left: -2px;

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__name {
    font-size: 36px;
    font-weight: 700;
    margin: 0px;
    text-transform: uppercase;
    background: linear-gradient(45deg, #000000, #000000);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__tagline {
    margin: 0px 0px 8px 0px;
  }

  &__nav {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    flex-direction: row;
    column-gap: 8px;

    li {
      margin: 0px;
    }
  }
}

// Profile styles
.profile {
  p {
    margin-top: 0px;
  }
}

// Startup ideas styles
.startup-ideas,
.work-history {
  margin-bottom: 32px;
}

.idea {
  &__header {
    margin-bottom: 40px;
  }

  &__title {
    font-size: 32px;
    margin: 0px 0px 8px 0px;
  }

  &__desc {
    margin: 0px;
  }

  &__date {
    font-style: italic;
    margin: 0px;
  }

  &__section {
    margin-bottom: 32px;
  }
}

.work-history {
  margin-bottom: 32px;

  &__title {
    font-weight: bold;
  }
}
