---
body_class: 'home'
---

:javascript
  analytics.page("home")

%header.portfolio
  %article
    .title.gradient-border
      .inner-wrapper{style: "background-image: url(#{image_path('hello.jpg')})"}

    %nav
      -# = link_to 'LinkedIn', 'https://www.linkedin.com/in/galenfrechette',
      -#  target: '_blank'

-# = partial "projects_index.haml"
